*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* shared style */
.font-inter {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}

.logo img {
    width: 140px;
    height: 60px;
}
.btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #17472a;
}

.btn-stroke {
    background: transparent;
    border: 2px solid #ffffff; /* stroke color */
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-stroke:hover {
    background-color: #ffffff;
    color: #469165;
}

.color-green {
    color: #469165;
}

/* main style */


nav {
     width: 88%; /* NB: My PC viewport is 1920px, and I changed it to 1536px because my viewport doesn’t support 1600px. I had to choose either 1536px or 1745px. That’s why I selected 1536px, as it is closer to 1600px */
     max-width: 1360px;
     /* border: 1px solid red;  */
     margin: 0px auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: white;
     padding: 16px 120px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    line-height: 1.52;
    color: #000000;
    text-decoration: none;
}

#banner {
    /* border:1px solid red;*/
    height: 674px;
    background: url("../assets/hero-bg.png");
    background-size: cover;    /*use it cover the whole section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    
}

#banner .banner-content {
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 116px 120px 180px; /* top, left-right, bottom */
}

#banner .banner-content .img-txt {
    display: flex;
    align-items: center;
    width: 230px;
    height: 36px;
    gap: 6px;
    background-color: white;
    /* border: 1px solid green; */
    padding: 12px 8px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    /* color: #469165; */
     margin: 0 auto 16px; /*top,left-right,bottom */
}
#banner .banner-content .txt-btn h1 {
    font-size: 72px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner-content .txt-btn p {
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    margin-bottom: 32px;
}

#banner .banner-content .dual-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#about {
    background-color: #fbfbfb;
    padding-top: 60px;
}
#about .about-container {
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
    /* justify-content: space-between; */
    text-align: center;
    
    /* padding: 60px 120px 120px; top, left-right, bottom */
}

.section-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

#about .about-container .about-box {
    display: flex;
    gap: 24px;
}

.about-box .box-card {
    padding: 70px 24px; /* top-bottom, left-right */
    /* border: 1px solid red; */
    box-shadow: 0 0 8px 0 #00000010;
    max-width: 322px;
    max-height: 300px;
}

.box-card img {
    max-width: 60px;
    margin-bottom: 16px;
}

.box-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.box-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#solution-banner {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 120px;
    gap: 60px;
}

#solution-banner .solution-content h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}

#solution-banner .solution-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#solution-banner .solution-content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

#solution-banner .solution-content .solution-img-txt img{
    width: 20px;
    height: 20px;
}

#solution-banner .solution-content .solution-img-txt {
    display: flex;
    gap: 6px;
    /* margin-bottom: 16px; */
}

#solution-banner .solution-content .solution-img-txt p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}

#think {
    padding: 0 120px 120px;
}
#think .think-container {
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 40px; /* top-bottom, left-right */
}
.think-heading {
    /* max-width: 1360px; */
    /* text-align: center; */
}
.think-heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.think-heading p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.think-heading .btn-p p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

footer {
    background-color: #001931;
    padding: 120px 120px 30px;
} 



 .footer-container .top-heading {
     width: 88%;
     max-width: 1360px;
     display: flex;
     justify-content: space-between;
     margin-bottom: 80px;
}

.footer-container .top-heading .social p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: white;
    margin-bottom: 16px;
}

.footer-container .top-heading .social .icons a {
    margin-right: 16px;
}

.footer-container .bottom-heading hr {
    color: #E5E7EB;
    margin-bottom: 30px;
}

.footer-container .bottom-heading p {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
